.simCase {
    border-top: 1px solid lightgrey;
    /*border-radius: 5px;*/
    margin: 5px 0;
    padding: 5px 0;
}

.simCase:hover {
    cursor: pointer;
}

.text-breakall {
    word-break: break-all;
}

textarea {
    font-family: monospace;
}

/* main 页面下 footer*/
.mainFooter {
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #BBBBBB;
    border-top: 1px solid #EEEEEE;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

.mainFooter iframe {
    margin: 0 0 0 5px;
}