.simCase {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 0;
}

.simCase:hover {
    cursor: pointer;
}

.text-breakall {
    word-break: break-all;
}

#headersTextarea {
    font-family: monospace;
    overflow-y:visible;
}