.text-breakall {
    word-break: break-all;
}

.btnMain {
    margin: 1%;
    width: 48%;
    font-size: 0.8em;
}

.btnDeactivate {
    margin: 1%;
    width: 48%;
    font-size: 0.8em;
}

.case-list {
}

.case-list .sim-case {
    margin: 2px;
    border: 1px solid lightgrey;
    text-align: center;
}

.case-list .sim-case:hover {
    cursor: pointer;
    background: lightgrey;
}