<!DOCTYPE html>
<html lang="en" ng-app="logmaster_app">
<head>
    <meta charset="UTF-8">
    <title>{{ 'LOG_MASTER.TITLE' | translate }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!--fontawesome css-->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">


    <!-- jQuery first, then Bootstrap JS. -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- angular v1 -->
    <script src="../bower_components/angular/angular.min.js"></script>

    <!-- angular translate -->
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="../bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>

    <!--app-->
    <script src="../js/logmaster_app.js"></script>
    <script src="../js/logmasterCtrl.js"></script>
</head>

<body ng-controller="logmasterCtrl" translate-namespace="LOG_MASTER">

<div class="container ">

    <!--导航栏-->
    <nav class="navbar navbar-light bg-faded m-y-1">

        <div class="nav navbar-nav">
            <a class="navbar-brand " href="#">{{ translateNamespace + '.TITLE' | translate }}</a>

            <!--是否排序-->
            <a class="nav-item nav-link active text-primary" href="#" ng-click="isSort=!isSort;updateLogText();">
                {{ translateNamespace + '.SORT_FIELD' | translate }}: {{isSort}}</a>

            <!--pagination 快速跳转-->
            <a ng-repeat="logCase in logCases"
               class="nav-item nav-link" href="#logCase{{$index+1}}">{{$index+1}}</a>
        </div>

        <form class="form-inline pull-lg-right">
            <input class="form-control" type="text" placeholder="{{ translateNamespace + '.SEARCH_PLACEHOLDER' | translate }}" ng-model="queryTextInput">
            <button class="btn btn-success" ng-click="queryText=queryTextInput">{{ translateNamespace + '.SEARCH_BUTTON' | translate }}</button>
        </form>
    </nav>


    <!--日志文本-->
    <textarea class="form-control  text-breakall" id="logTextTextarea" rows="8" style="word-break: break-all"
              placeholder="{{ translateNamespace + '.LOG_TEXT' | translate }}"
              ng-model="logText"
              ng-change="updateLogText()"
    ></textarea>

    <div class="row">
        <!--分隔符提示-->
        <p class="text-muted">{{ translateNamespace + '.FIELD_SEPARATOR' | translate }} <span class="text-danger font-weight-bold">{{MAIN_SEPERATOR}}</span>
        {{ translateNamespace + '.FIELD_SEPARATOR_EXT' | translate }}<span class="text-danger font-weight-bold">{{SUB_SEPERATOR}}</span> 。</p>
    </div>
    <!--解析后日志-->
    <div ng-repeat="logCase in logCases" id="logCase{{$index+1}}" class="m-y-2">
        <h5 class="m-y-1">
            {{ translateNamespace + '.LOG_LINE' | translate }} #{{$index+1}}
            <small class="text-muted"> {{logCase.params.length}}{{ translateNamespace + '.FIELDS' | translate }}</small>
        </h5>

        <div ng-repeat="param in logCase.params track by $index"
             ng-show="([param]|filter:queryText).length>0"
             class="row">
            <div class="col-xs-1 text-muted">{{$index}}</div>
            <div class="col-xs-4 font-weight-bold text-primary">{{param.key}}</div>
            <div class="col-xs-7 font-weight-bold">{{param.value}}</div>
        </div>
    </div>


</div>
</body>
</html>