<!DOCTYPE html>
<html lang="en" ng-app="logmaster_app">
<head>
    <meta charset="UTF-8">
    <title>日志大师</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!--fontawesome css-->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">


    <!-- jQuery first, then Bootstrap JS. -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- angular v1 -->
    <script src="../bower_components/angular/angular.min.js"></script>

    <!--app-->
    <script src="../js/logmaster_app.js"></script>
    <script src="../js/logmasterCtrl.js"></script>
</head>

<body ng-controller="logmasterCtrl">

<div class="container ">

    <!--导航栏-->
    <nav class="navbar navbar-light bg-faded m-y-1">
        <!--是否排序-->
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="#" ng-click="isSort=!isSort;updateLogText();">
                是否排序: {{isSort}}</a>

            <!--pagination 快速跳转-->
            <a ng-repeat="logCase in logCases"
               class="nav-item nav-link" href="#logCase{{$index+1}}">{{$index+1}}</a>
        </div>

        <form class="form-inline pull-xs-right">
            <input class="form-control" type="text" placeholder="Search" ng-model="queryText">
        </form>
    </nav>


    <!--日志文本-->
        <textarea class="form-control  text-breakall" id="logTextTextarea" rows="8" style="word-break: break-all"
                  placeholder="日志文本"
                  ng-model="logText"
                  ng-change="updateLogText()"></textarea>

    <p class="text-muted">字段分隔符为"{{MAIN_SEPERATOR}}",次要分隔符为"{{SUB_SEPERATOR}}"。</p>
    <!--解析后日志-->
    <div ng-repeat="logCase in logCases" id="logCase{{$index+1}}" class="m-y-2">
        <h2 class="m-y-1">
            Case {{$index+1}}
            <small class="text-muted"> {{logCase.params.length}}个字段</small>
        </h2>

        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th class="col-sm-1">#</th>
                <th class="col-sm-2">字段名称</th>
                <th class="col-sm-9">值</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="param in logCase.params |filter:queryText track by $index">
                <th class="col-sm-1">{{$index}}</th>
                <td class="col-sm-2">{{param.key}}</td>
                <td class="col-sm-9">{{param.value}}</td>
            </tr>
            </tbody>
        </table>
    </div>


</div>
</body>
</html>