<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Requester Options Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!--fontawesome css-->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

    <!--app css-->
    <!--<link rel="stylesheet" href="../css/main.css">-->


    <!-- jQuery first, then Bootstrap JS. -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- angular v1 -->
    <script src="../bower_components/angular/angular.min.js"></script>

    <!--lib-->

    <!--angular app-->
    <script src="../js/app.js"></script>
    <script src="../js/mainCtrl.js"></script>

    <!--app-->
</head>

<body ng-controller="mainCtrl">


<div class="container-fluid">

    <div class="row m-y-1">
        <!--左栏-->
        <div class="col-sm-3">

            <h4>isActive:{{activeCase!=undefined}}</h4>
            <h4> activeCase.id:{{activeCase.caseId}} </h4>
            <h4> showCase.id:{{showCase.caseId}} </h4>
            <div>
                <button class="btn btn-danger" ng-click="deActivate()">停止生效</button>
                <button class="btn btn-success" ng-click="createNewCase()">新 case</button>
            </div>
            <div class="row">
                <div class="card card-block col-sm-5 m-l-1"
                     ng-repeat="onecase in cases"
                     ng-click="changeCaseId(onecase)">
                    <!--<h5 class="card-title">{{onecase.name}}</h5>-->
                    <p class="card-text">{{onecase.name}} </p>
                    <a href="#" class="card-link" ng-click="activate(onecase)">激活</a>
                    <a href="#" class="card-link">删除</a>
                </div>
            </div>
        </div>

        <!--中栏-->
        <div class="col-sm-9">
            <!--UA-->
            <fieldset class="form-group">
                <label for="uaTextarea">User Agent</label>
                <textarea class="form-control" id="uaTextarea" rows="2"
                          placeholder="use brower user agent string by default"
                          ng-model="showCase.ua"></textarea>
            </fieldset>

            <!--headers-->
            <fieldset class="form-group">
                <label for="headersTextarea">Headers</label>
                <textarea class="form-control" id="headersTextarea" rows="3"
                          placeholder="key:value"
                          ng-model="showCase.headers"></textarea>
            </fieldset>
        </div>

        <!--右栏-->
        <!--<div class="col-sm-3">-->
        <!--right-->
        <!--</div>-->
    </div>
</div>

</body>
</html>