<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Sailfish Requester Options Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!--fontawesome css-->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

    <!--app css-->
    <link rel="stylesheet" href="../css/main.css">


    <!-- jQuery first, then Bootstrap JS. -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- angular v1 -->
    <script src="../bower_components/angular/angular.min.js"></script>

    <!--lib-->
    <script src="../bower_components/ua-parser-js/dist/ua-parser.min.js"></script>

    <!--angular app-->
    <script src="../js/app.js"></script>
    <script src="../js/mainCtrl.js"></script>
    <script src="../js/service/dataService.js"></script>
    <script src="../js/demoHeaderDescriptors.js"></script>

    <!--app-->
</head>

<body ng-controller="mainCtrl">


<div class="container m-t-1">

    <!--导航栏-->
    <nav class="navbar navbar-light bg-faded">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="#">Sailfish Requester 旗鱼 请求管理器</a>
        </div>
        <form class="form-inline pull-xs-right">
            <a class="nav-item nav-link text-primary" href="#" ng-if="activeCase">
                Simulating: {{activeCase.name}}
                <span class="text-muted">(#{{activeCase.caseId}})</span>
            </a>
            <a class="nav-item nav-link text-info" href="#" ng-if="!activeCase">
                No active case.
            </a>
            <button class="btn btn-link text-danger"
                    ng-click="deactivateCase()" ng-disabled="(activeCase==undefined)">
                <i class="fa fa-stop"></i>
            </button>
        </form>
    </nav>

    <div class="row m-y-1">
        <!--左栏-->
        <div class="col-sm-9">
            <h4>
                <!--用例名称-->
                <span ng-if="(showCase!=undefined)">{{showCase.name}}</span>

                <!--用例ID-->
                <small class="text-muted">
                    # {{showCase.caseId}}
                    <!--当前用例为空时提示文本-->
                    <span ng-if="(showCase==undefined)">未选定用例</span>
                </small>

                <!--保存按钮-->
                <button class="btn btn-link text-primary"
                        style="float: right"
                        ng-click="saveCase(showCase.caseId)"
                        ng-disabled="(showCase==undefined)">
                    <i class="fa fa-save"></i>
                </button>
            </h4>
            <hr>

            <!--UA-->
            <fieldset class="form-group">
                <label for="uaTextarea">Custom User Agent</label>
                <textarea class="form-control text-breakall" id="uaTextarea" rows="2"
                          placeholder="using default user agent string"
                          ng-model="showCase.ua"
                          ng-change="updateUaInfo()"></textarea>
            </fieldset>

            <!--headers-->
            <fieldset class="form-group">
                <label for="headersTextarea">
                    Additional Headers
                    <small class="text-muted">以冒号:分隔键值对如key:value,以换行分隔多个键值对</small>
                </label>
                <textarea class="form-control text-breakall" id="headersTextarea" rows="6"
                          placeholder="key:value"
                          ng-model="showCase.headers"
                          ng-change="updateHeadersInfo()"></textarea>
            </fieldset>

            <!--params-->
            <fieldset class="form-group">
                <label for="getparamsTextarea">
                    GET Params
                    <small class="text-muted">以等号=分隔键值对如key=value,以换行分隔多个键值对</small>
                </label>
                <textarea class="form-control text-breakall" id="getparamsTextarea" rows="6"
                          placeholder="key=value"
                          ng-model="showCase.params"></textarea>
            </fieldset>

            <hr>

            <!--UA 信息-->
            <div>
                <h5>
                    UA 信息
                    <small class="text-muted">仅供参考</small>
                </h5>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>操作系统</th>
                        <th>浏览器</th>
                        <th>版本</th>
                        <th>内核</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="system">{{uaInfo.os.name}} {{uaInfo.os.version}}</td>
                        <td id="browser_name">{{uaInfo.browser.name}}</td>
                        <td id="browser_version">{{uaInfo.browser.version}}</td>
                        <td id="browser_engine">{{uaInfo.engine.name}} {{uaInfo.engine.version}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--header 信息-->
            <div>
                <h5>Header 信息</h5>
                <div class="row"
                     ng-repeat="headerInfo in headersInfo">


                    <div class="col-sm-3">
                        <blockquote class="blockquote ">
                            <p class="m-b-0">{{headerInfo.headerName}}</p>
                            <footer class="blockquote-footer">{{headerInfo.headerDescription}}</footer>
                        </blockquote>
                    </div>
                    <div class="col-sm-9">
                        <div ng-if="!headerInfo.subFields">
                            {{headerInfo.headerValue}}
                        </div>
                        <table class="table table-sm table-striped"
                               ng-if="headerInfo.subFields">
                            <thead>
                            <tr>
                                <th class="col-sm-2">字段</th>
                                <th class="col-sm-5">当前值</th>
                                <th class="col-sm-4">描述</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="subField in headerInfo.subFields">
                                <td class="col-sm-2 text-breakall">{{subField.fieldName}}</td>
                                <td class="col-sm-5 text-breakall">{{subField.fieldValue}}</td>
                                <td class="col-sm-4 text-breakall">{{subField.fieldDescription}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>

        <!--右栏-->
        <div class="col-sm-3">

            <div class="row m-b-1">
                <div class="col-sm-4 p-x-0">
                    <!--新建按钮-->
                    <button class="btn btn-link btn-block"
                            ng-click="createNewCase()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

                <div class="col-sm-4 p-x-0">
                    <!--用例导入按钮-->
                    <button class="btn btn-link btn-block"
                            ng-click="importCases()">
                        <i class="fa fa-upload"></i>
                    </button>
                </div>
                <div class="col-sm-4 p-x-0">
                    <!--用例导出按钮-->
                    <button class="btn btn-link btn-block"
                            ng-click="exportCases()">
                        <i class="fa fa-download"></i>
                    </button>
                </div>
            </div>

            <!--用例列表-->
            <div ng-if="!cases||cases.length<1">
                <p class="text-sm-center"> 目前没有用例 </p>
            </div>
            <div class="row simCase"
                 ng-repeat="onecase in cases"
                 ng-click="changeShowCase(onecase)">
                <div class="col-sm-6">
                    {{onecase.name}}
                </div>
                <!--激活按钮-->
                <div class="col-sm-2" ng-click="activateCase(onecase)">
                    <button class="btn btn-success btn-sm"><i class="fa fa-play"></i></button>
                </div>
                <!--删除按钮-->
                <div class="col-sm-2" ng-click="removeCase(onecase.caseId)">
                    <button class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!--解析器规则-->
    <div class="m-y-2">
        <nav class="navbar navbar-light bg-faded">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                &#9776; 解析器规则
            </button>
        </nav>

        <div class="collapse" id="exCollapsingNavbar">
            <div class="p-a-1">
                <h4>Header 描述规则
                    <small>
                        <button class="btn btn-primary" ng-click="saveHeaderDescriptors()">
                            <i class="fa fa-save"></i>
                        </button>
                    </small>
                </h4>
            <textarea class="form-control text-breakall" rows="30"
                      ng-model="headerDescriptors"></textarea>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div class="mainFooter">
    <!--声明-->
    <p>
        Powered by Bowen Liang © 2016
        <!--Github stars-->
        <iframe src="https://ghbtns.com/github-btn.html?user=bowenliang123&repo=SailfishRequester&type=star&count=true"
                frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
    </p>

    <!--相关跳转-->
    <div class="btn-group-sm" role="group" aria-label="Basic example">

        <!--Google Chrome Store-->
        <a type="button" class="btn btn-secondary btn-link"
           href="https://chrome.google.com/webstore/detail/" target="_blank">
            <i class="fa fa-chrome"></i>
            On Chrome Store
        </a>

        <!--Github 项目页面-->
        <a type="button" class="btn btn-secondary btn-link"
           href="https://github.com/bowenliang123/SailfishRequester" target="_blank">
            <i class="fa fa-github"></i>
            On Github
        </a>
    </div>
</div>

<!--hidden-->
<div hidden>
    <input type="file" id="uploadInput" accept="text/*">
</div>
</body>
</html>