<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Requester Options Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!--fontawesome css-->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

    <!--app css-->
    <link rel="stylesheet" href="../css/main.css">


    <!-- jQuery first, then Bootstrap JS. -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- angular v1 -->
    <script src="../bower_components/angular/angular.min.js"></script>

    <!--lib-->

    <!--angular app-->
    <script src="../js/app.js"></script>
    <script src="../js/mainCtrl.js"></script>

    <!--app-->
</head>

<body ng-controller="mainCtrl">


<div class="container m-t-1">

    <!--导航栏-->
    <nav class="navbar navbar-light bg-faded">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="#">REQUESTER <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">isActive:{{activeCase!=undefined}}</a>
            <a class="nav-item nav-link" href="#">activeCase.id:{{activeCase.caseId}} </a>
            <a class="nav-item nav-link" href="#">showCase.id:{{showCase.caseId}} </a>
        </div>
        <form class="form-inline pull-xs-right">
            <button class="btn btn-danger" ng-click="deActivateCase()" ng-disabled="(activeCase==undefined)">
                <i class="fa fa-stop-circle"></i> 停止生效
            </button>
        </form>
    </nav>

    <div class="row m-y-1">
        <!--左栏-->
        <div class="col-sm-3">
            <div>
                <button class="btn btn-success btn-block" ng-click="createNewCase()">
                    <i class="fa fa-newspaper-o"></i> 新建用例
                </button>
            </div>
            <hr>
            <div class="row simCase"
                 ng-repeat="onecase in cases"
                 ng-click="changeCaseId(onecase)">
                <div class="col-sm-8">
                    {{onecase.name}}
                </div>
                <!--激活按钮-->
                <div class="col-sm-1" ng-click="activateCase(onecase)"><i class="fa fa-magic"></i></div>
                <!--删除按钮-->
                <div class="col-sm-1" ng-click="removeCase(onecase.caseId)"><i class="fa fa-trash-o"></i></div>
            </div>
        </div>

        <!--中栏-->
        <div class="col-sm-9">
            <h3>
                <span class="label label-default"># {{showCase.caseId}}</span>
                {{showCase.name}}
                <!--保存按钮-->
                <button class="btn btn-primary" ng-click="saveCase(showCase.id)" style="float: right">
                    <i class="fa fa-save"></i> 保存用例
                </button>
            </h3>
            <hr>
            <!--UA-->
            <fieldset class="form-group">
                <label for="uaTextarea">User Agent</label>
                <textarea class="form-control" id="uaTextarea" rows="2"
                          placeholder="use brower user agent string by default"
                          ng-model="showCase.ua"></textarea>
            </fieldset>

            <!--headers-->
            <fieldset class="form-group">
                <label for="headersTextarea">Headers</label>
                <textarea class="form-control" id="headersTextarea" rows="3"
                          placeholder="key:value"
                          ng-model="showCase.headers"></textarea>
            </fieldset>


        </div>

        <!--右栏-->
        <!--<div class="col-sm-3">-->
        <!--right-->
        <!--</div>-->
    </div>
</div>

</body>
</html>