<!DOCTYPE html>
<html ng-app="popupApp">
<head>
    <meta charset="UTF-8">
    <title> {{ 'POPUP.TITLE' | translate }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!--fontawesome css-->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

    <!--app css-->
    <link rel="stylesheet" href="../css/popup.css">

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!--<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->

    <!-- angular v1 -->
    <script src="../bower_components/angular/angular.min.js"></script>

    <!-- angular translate -->
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="../bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>

    <!--angular app-->
    <script src="../js/popupCtrl.js"></script>
</head>
<body ng-controller="popupCtrl" translate-namespace="POPUP" >

<div style="width: 200px">

    <div>
        <a class="btn btn-block btn-sm btn-info-outline" href="#" ng-click="createNewTabToLOG()" target="_blank">
            {{ translateNamespace + '.MASTER_LOG_LINK' | translate }}
        </a>
    </div>
    <div class="">
        <button class="btn btn-sm btn-danger-outline btnDeactivate col-xs-6"
                ng-click="deactivateCase()">
            <i class="fa fa-stop-circle"></i>
            {{ translateNamespace + '.STOP' | translate }}
        </button>

        <button class="btn btn-sm btn-primary-outline btnMain col-xs-6"
                ng-click="createNewTabToMain()">
            <i class="fa fa-tachometer"></i>
            {{ translateNamespace + '.MAIN_LINK' | translate }}
        </button>

        <div style="font-size: 1px;"> &nbsp; </div>
    </div>

    <p class="text-xs-center text-muted"
       ng-if="!cases||cases.length<1">
        <small>{{ translateNamespace + '.NO_USE_CASES' | translate }}</small>
    </p>
    <div class="case-list">
        <div class="sim-case text-breakall"
             ng-repeat="simCase in cases"
             ng-click="activateCase(simCase)">
            {{simCase.name}}
            <!--<span class="label label-default label-pill pull-xs-right">0</span>-->
        </div>
    </div>
</div>

<div tabindex="1">
</div>
</body>
</html>