<!DOCTYPE html>
<html ng-app="popupCtrl">
<head>
    <meta charset="UTF-8">
    <title>Sandwich Requester Popup</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!--fontawesome css-->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

    <!--app css-->
    <link rel="stylesheet" href="../css/popup.css">

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!--<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->

    <!-- angular v1 -->
    <script src="../bower_components/angular/angular.min.js"></script>

    <!--angular app-->
    <script src="../js/popupCtrl.js"></script>
</head>
<body ng-controller="popupCtrl">

<div style="width: 200px">

    <div class="">
        <button class="btn btn-sm btn-danger-outline btnDeactivate col-xs-6"
                ng-click="deactivateCase()">
            <i class="fa fa-stop-circle"></i>
            停止模拟
        </button>

        <button class="btn btn-sm btn-primary-outline btnMain col-xs-6"
                ng-click="createNewTabToMain()">
            <i class="fa fa-tachometer"></i>
            主界面
        </button>

        <div style="font-size: 1px;"> &nbsp; </div>
    </div>

    <p class="text-xs-center text-muted"
       ng-if="!cases||cases.length<1">
        <small>暂无可用模拟用例</small>
    </p>
    <div class="case-list">
        <div class="sim-case text-breakall"
             ng-repeat="simCase in cases"
             ng-click="activateCase(simCase)">
            {{simCase.name}}
            <!--<span class="label label-default label-pill pull-xs-right">0</span>-->
        </div>
    </div>
</div>

<div tabindex="1">
</div>
</body>
</html>